<mat-card class="developpeur-card">
    <mat-card-content align="center">
        <form [formGroup]="developpeurForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="nom" formControlName="nom">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Prénom</mat-label>
                <input matInput placeholder="prenom" formControlName="prenom">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Langage(s)</mat-label>
                <input matInput placeholder="langage" formControlName="langage">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Poste occupé</mat-label>
                <input matInput placeholder="poste" formControlName="poste">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Expérience en Année</mat-label>
                <input matInput type="number" placeholder="experience" formControlName="experience">
            </mat-form-field>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="developpeurForm.invalid"
                    type="submit">Enregistrer</button>
                <button mat-raised-button color="warn" (click)="onBack()">Annuler</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>