 <div class="sign-up">
    <mat-toolbar>
       <span>Création d'un compte</span>
    </mat-toolbar>
    <mat-card class="sigup-card">
       <mat-card-content>
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
             <mat-form-field class="full-width">
                <mat-label>NOM</mat-label>
                <input matInput id="name" formControlName="name" placeholder="NOM">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>PRENOM</mat-label>
                <input matInput id="lastname" formControlName="lastname" placeholder="PRENOM">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>EMAIL</mat-label>
                <input matInput id="email" placeholder="EMAIL" formControlName="email">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>PASSWORD</mat-label>
                <input matInput type="password" id="password" class="form-control" placeholder="PASSWORD"
                   formControlName="password">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>ADRESSE</mat-label>
                <input matInput id="address" formControlName="address" placeholder="ADRESSE">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>VILLE</mat-label>
                <input matInput id="city" formControlName="city" placeholder="VILLE">
             </mat-form-field>
             <mat-card-actions align="center">
                <button mat-raised-button type="submit" [disabled]="signUpForm.invalid" color="primary">Créer un compte</button>
             </mat-card-actions>
          </form>
       </mat-card-content>
 
    </mat-card>
 </div>