<mat-toolbar color="primary" class="crm-navigation-bar">

    <mat-toolbar-row>
        <span class="user-info" (click)="logout()" style="cursor:pointer">user
            <mat-icon class="exit-icon" aria-hidden="false" aria-label="Exit icon">power_settings_new</mat-icon>
        </span>
    </mat-toolbar-row>

</mat-toolbar>

<div class="mat-elevation-z8">
    <button mat-stroked-button color="accent" (click)="onAddDev()">
        <mat-icon aria-hidden="false" aria-label="add extrait icon">add</mat-icon>
        Ajouter un nouveau dev
    </button>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let dev"> {{dev.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let dev"> {{dev.prenom}} </td>
        </ng-container>

        <ng-container matColumnDef="langage">
            <th mat-header-cell *matHeaderCellDef> Langage(s) </th>
            <td mat-cell *matCellDef="let dev"> {{dev.langage}} </td>
        </ng-container>

        <ng-container matColumnDef="poste">
            <th mat-header-cell *matHeaderCellDef> Poste occupé</th>
            <td mat-cell *matCellDef="let dev"> {{dev.poste}} </td>
        </ng-container>

        <ng-container matColumnDef="experience">
            <th mat-header-cell *matHeaderCellDef> Expérience en Année</th>
            <td mat-cell *matCellDef="let dev"> {{dev.experience}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons></mat-paginator>
</div>