<div class="sign-in">
   <mat-toolbar>
      <span> CONNEXION </span>
   </mat-toolbar>
   <mat-card class="signin-card">
      <mat-card-content align="center">
         <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input matInput id="email" placeholder="superdev@mail.fr" formControlName="email">
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input matInput type="password" id="password" class="form-control" placeholder="test001"
                  formControlName="password">
            </mat-form-field>
            <mat-card-actions align="center">
               <button mat-raised-button type="submit" [disabled]="signInForm.invalid" color="primary">LOGIN</button>
            </mat-card-actions>
         </form>
         <button mat-stroked-button color="accent" (click)="createAccount()">
            <mat-icon aria-hidden="false" aria-label="sign-up">add</mat-icon>
            Créer mon compte
         </button>
      </mat-card-content>
   </mat-card>
</div>